Body {
    line-height: 1.6;
    font-size: 18px;
    color: rgb(235, 137, 137);
    padding: 0 10px;
    background: rgba(34, 33, 33, 0.253);
  }
  
  h1,
  h2,
  h3 {
    line-height: 1.2
  }
  
  /* End document default styles */
  .code {
    background-color: rgb(146, 108, 62);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(75, 47, 47);
  }
  
  .container {
    position: absolute;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Helvetica, Geneva, Tahoma, sans-serif;
  }
  
  .wrapper {
    min-height: 100%;
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: #965757;
    border: 1px dashed rgb(167, 18, 18);
    margin: 25px;
  
  }
  
  .wrapper div {
    border-radius: 14px;
  }
  
  .header {
    margin: 20px 50px;
    padding: 0 20px;
    min-height: 75px;
    background: rgb(20, 44, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    flex-wrap: nowrap;
  }
  
  .instructions {
    padding: 0 25px;
    list-style: disc;
  }
  
  .content {
    background: #fff;
    border: 2px dotted rgb(26, 16, 16);
    flex-grow: 2;
    flex: 0 0 200px;
    padding: 10px;
    overflow-wrap: break-word;
    margin: 25px 50px;
  }
  
  .button {
    background-color: #b37d36;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    border: 2px solid #eeb44f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 14px;
    padding: 10px 17px;
    text-decoration: none;
    text-shadow: 0px 1px 1px #cc9f52;
  }
  
  .button:hover {
    background-color: rgb(188, 255, 80);
    border: 2px solid rgb(21, 94, 54);
  }
  
  .button:active {
    position: relative;
    top: 1px;
  }